<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>scrollviewd动态改变图片.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F87F5011CEC4EF800944D97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F87F5151CEC4EF900944D97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F87F5201CEC4EF900944D97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
