<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>task7_test1_simple_drawingBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F81CA931CD8CACE00C3C7B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F81CAA71CD8CACE00C3C7B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F81CAB21CD8CACE00C3C7B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
