<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XMLDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F903AA21D557A5A0027AF05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F903AB61D557A5B0027AF05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F903AC11D557A5B0027AF05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
